QMainWindow, QLabel {
    background-color: ${base-background-color};
    color: ${base-foreground-color};
}

* {

    border: 1px solid red;
}

QMenuBar {
    background: ${base-background-color};
    border: none;
    padding: 2px;
    border-bottom: 1px solid ${border-color};
    font-size: ${font-size:-2}px;
    spacing: 0px;
}

QMenuBar::item {
    border: none;
    padding: 4px 8px 4px 8px;
    color: ${base-foreground-color};
}

QMenuBar::item:selected {
    background: ${secondary-color};
    color: ${secondary-text-color};
}

QMenuBar::item:pressed {
    border: none;
    background: ${secondary-pressed-color};
    color: ${secondary-text-color};
}

QMenu {
    background-color: ${field-background-color};
    color: ${base-foreground-color};
    margin: 0px;
}

QMenu::item {
    padding: 2px 25px 2px 10px;
    border: 1px solid transparent;
    font-size: ${font-size:-2}px;
}

QMenu::item:selected {
    border-color: ${border-color};
    background: ${secondary-color};
    color: ${secondary-text-color};
}

QLineEdit {
    background-color: ${field-background-color};
}

QPushButton {
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: ${base-foreground-color};
}

QComboBox
{
    background-color: ${field-background-color};
    color: ${base-foreground-color};
    border: 1px solid ${border-color};
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

QComboBox:on {
    color: grey;
    background-color: ${border-color};
}

QComboBox:hover {
    border-width: 2px;
}

QComboBox QAbstractItemView {
    background-color: ${base-background-color};
    color: ${base-foreground-color};
    border: none;
    padding: 5px;
    outline: none;
}

QPushButton[class="primary"] {
    background-color: ${primary-color};
    color: ${primary-text-color};
}

QPushButton[class="primary"]:hover {
    background-color: ${primary-hover-color};
}

QPushButton[class="primary"]:pressed {
    background-color: ${primary-pressed-color};
}

QLabel[class="input-label"] {
    padding: 3px;
    padding-right: 0px;
}

#content-widget {
    margin: 0px;
}

#setup-welcome-label {
    font-size: ${font-size:+12}px;
}

#setup-config-language-label { 
    min-width: 120px;
}

#setup-config-language-selector { }

#setup-config-theme-label { 
    min-width: 120px;
}

#setup-config-theme-selector { }

#setup-start-button {
    padding-left: 20px;
    padding-right: 20px;
}
