QMainWindow, QLabel, QDialog {
    background-color: ${base-background-color};
    color: ${base-foreground-color};
}

QScrollBar:vertical {
    border: 1px solid transparent;
    background: transparent;
    width:10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
    background: ${scroll-bar-color};
    min-height: 0px;
    border-radius: 4px;
}

QScrollBar::add-line:vertical {
    background: transparent;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    height: 0px;
}

QScrollBar::sub-line:vertical {
    background: transparent;
    subcontrol-position: top;
    subcontrol-origin: margin;
    height: 0px;
}

QScrollBar:horizontal {
    border: 1px solid transparent;
    background: transparent;
    height:10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal {
    background: ${scroll-bar-color};
    min-width: 0px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    background: transparent;
    subcontrol-position: right;
    subcontrol-origin: margin;
    width: 0px;
}

QScrollBar::sub-line:horizontal {
    background: transparent;
    subcontrol-position: left;
    subcontrol-origin: margin;
    width: 0px;
}

QAbstractScrollArea::corner {
    background: transparent;
}

QMenuBar {
    background: ${base-background-color};
    border: none;
    padding: 2px;
    border-bottom: 1px solid ${border-color};
    font-size: ${font-size:-2}px;
    spacing: 0px;
}

QMenuBar::item {
    border: none;
    padding: 4px 8px 4px 8px;
    color: ${base-foreground-color};
}

QMenuBar::item:selected {
    background: ${secondary-color};
    color: ${secondary-text-color};
}

QMenuBar::item:pressed {
    border: none;
    background: ${secondary-pressed-color};
    color: ${secondary-text-color};
}

QMenu {
    background-color: ${field-background-color};
    color: ${base-foreground-color};
    margin: 0px;
}

QMenu::item {
    padding: 2px 25px 2px 10px;
    border: 1px solid transparent;
    font-size: ${font-size:-2}px;
}

QMenu::item:selected {
    border-color: ${border-color};
    background: ${secondary-color};
    color: ${secondary-text-color};
}

QLineEdit {
    background-color: ${field-background-color};
    color: ${base-foreground-color};
}

QPushButton {
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: ${base-foreground-color};
}

QComboBox
{
    background-color: ${field-background-color};
    color: ${base-foreground-color};
    border: 1px solid transparent;
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

QComboBox:on {
    color: grey;
    background-color: ${border-color};
}

QComboBox:hover {
    border-color: ${border-color};
}

QComboBox QAbstractItemView {
    background-color: ${base-background-color};
    color: ${base-foreground-color};
    border: none;
    padding: 5px;
    outline: none;
}

QTextEdit[class="readonly"] {
    background-color: ${base-background-color};
    color: ${base-foreground-color};
    padding: 2px;
    margin: 10px;
    margin-left: 3px;
    border: 1px solid ${border-color};
    border-radius: 4px;
}

QPushButton[class="primary"] {
    background-color: ${primary-color};
    color: ${primary-text-color};
}

QPushButton[class="primary"]:hover {
    background-color: ${primary-hover-color};
}

QPushButton[class="primary"]:pressed {
    background-color: ${primary-pressed-color};
}

QPushButton[class="primary"]:disabled {
    background-color: ${disabled-color};
}

QPushButton[class="neutral"] {
    background-color: ${neutral-color};
    color: ${neutral-text-color};
}

QPushButton[class="neutral"]:hover {
    background-color: ${neutral-hover-color};
}

QPushButton[class="neutral"]:pressed {
    background-color: ${neutral-pressed-color};
}

QPushButton[class="neutral"]:disabled {
    background-color: ${disabled-color};
}

QLabel[class="input-label"] {
    padding: 3px;
    padding-right: 0px;
}

QLineEdit[class="input-field"] {
    padding: 2px;
}

#content-widget {
    margin: 0px;
}

#setup-welcome-label {
    font-size: ${font-size:+12}px;
}

#setup-config-language-label { 
    min-width: 120px;
}

#setup-config-language-selector { }

#setup-config-theme-label { 
    min-width: 120px;
}

#setup-config-theme-selector { }

#setup-start-button {
    padding-left: 20px;
    padding-right: 20px;
}

#search-pane-input-error-label {
    color: ${accent-color};
    font-size: ${font-size:-2}px;
}

#search-pane-search-button {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
}

#error-dialog {
    background-color: ${base-background-color};
    padding-left: 10px;
    padding-right: 10px;
}

#error-dialog-okay-button {
    padding-left: 15px;
    padding-right: 15px;
}

#about-dialog-app-name-label {
    font-size: ${font-size:+12}px;
}

#about-dialog-app-version-label {
    font-size: ${font-size:+4}px;
}

#about-dialog-description-label {
    margin-top: 12px;
}

#about-dialog-close-button {
    padding-left: 20px;
    padding-right: 20px;
}

#license-dialog-license-label {
    margin-top: 12px;
}

#license-dialog-close-button {
    padding-left: 20px;
    padding-right: 20px;
}
