**/build*
**/dist*
**/*venv*
**/.DS_Store
src/youtube_downloader/resources/fonts/**/*
!src/youtube_downloader/resources/fonts/.gitkeep
**/*install_dependency_tmp_*
src/youtube_downloader/external/**/*
!src/youtube_downloader/external/README.md
**/*__pycache__
**/*.ref.py
**/*.vscode
**/*.ref